.hotelContainer{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
    justify-content: center;
}
.hotelWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.imageContainer{
    width: 33%;
    padding: 5px;
}
.image:hover{
    cursor: pointer;
   
    border-radius: 20px;
    border: 1px solid black;
}
.hotelTitle{
    font-size: 24px;

}
.hotelDistance{
    color: rgba(136, 0, 255, 0.749);
    font-weight: 500;
}
.hotelPriceHighlight{
     color: rgba(9, 142, 58, 0.925);
    font-weight: 500;
}
.hotelAddress{
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hotelImage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.booking{
    position: absolute;
    top:5px;
    right: 0;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.hotelDetails{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.hotelDetailsTexts{
    flex: 3;
}
.hotelDetailsPrice{
    background-color: rgb(234, 148, 251);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
    margin: 5px;
    padding: 5px;
}
.hotelDetailsPrice>h1{
    font-style: 18px;
}

.hotelDetailsPrice>span{
    font-style: 12px;
}
.hotelDetailsPrice button{
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 255, 255, 0.479);
}
.booking{
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 255, 255, 0.479);
}
.booking:hover{
    background-color: rgba(0, 0, 0, 0.71);
    color: aliceblue;
}
.hotelDetailsPrice >button:hover{
    background-color: rgba(0, 0, 0, 0.71);
    color: aliceblue;
}
.hotelDesc{
    font-style: 14px;
    margin-top: 10px;
}

.slider{
    position: sticky;
  
    padding: 2rem;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(2, 37, 26, 0.568);
    z-index: 5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sliderWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sliderWrapper>img{
    width: 80%;
    height: 80vh;
}
.closeSlider{
    position: absolute;
    top: 10px;
    right: 20px  ;
    font-size: 30px;
    cursor: pointer;
    color: aliceblue;
}
.arrow{
    font-size: 33px;
    color: aliceblue;
    cursor: pointer;
}